page-dashboard{
  .row{
    font-size: 24px;
    color: blue;
    align-content: center;
    text-align: center;
  }
  .column{
    text-align:center; 
    border: 1px solid #fff;
    padding: 29px;
  }
  .card-md p {
    margin: 0 0 2px;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
    color: blue !important;
    text-align: center;
    background-color: transparent !important; 
  }
  .pic_column{
    background: rgba(236, 239, 241, 0.8);
    height: 100%;
    margin: -5px;
    margin-bottom: 15px;

  }
  .grid {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    bottom: -35px;
    background: url(../assets/images/Dashboard_bg.png);
    background-size: 100% 100%;
    position: absolute;
  }
  div.contained {
    height: 50vh;
  }
  .no-scroll .scroll-content{
    overflow: hidden;
  }
  .container{
    display: block;
    height: 95% ! important;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 0px !important; 
    padding-left: 0px !important; 
    padding-top: 15px;
    background: linear-gradient(to bottom right, #059de8, #1f6fd3);
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    font-weight: 500;
    line-height: 1.2;
  }

  .column span{
    font-size: 13px;
    color: #4a5064;
  }
  .highcharts-credits {
    display: none;
  } 
  .item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 1px solid transparent;
  }
  #notifications-badge {
            background-color: red;
            position: absolute;
            top: 4px;
            right: 8px;
            border-radius: 100%;
    }

}