.card-md p {
    margin: 0 0 2px;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
    color: white;
    text-align: center;
    background-color: salmon;
}

.card-content-md {
    padding: 13px 16px;
    font-size: 1.4rem;
    line-height: 1.5;
    background-color: salmon;
}
.vertical-align-content > *{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}
.ion-modal {
    left: 0;
    top: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    contain: strict;
    background: rgba(0, 0, 0, 0.5);
}
.modal-wrapper {
    position: absolute;
    width: 90%;
    height: 50%;
    margin-top: 50%;
    left: 5%;
}
.button-round-md {
    border-radius: 64px;
    padding: 0 2.6rem;
    margin-left: 33%;
}