page-welcome {
	.centerme {
	    margin: 0 auto;
	    width: 100%;
	    height:100%;
	}
	 
	.fullscreen-player {
	    max-width: 100%;
	    max-height: 100%;
	    bottom: 0;
	    left: 0;
	    margin: auto;
	    overflow: none;
	    position: fixed;
	    right: 0;
	    top: 0;
	}
	    .slide-zoom {
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
}
	.slideBut{
	    text-align: center;
	    position: absolute;
	    bottom: 25px;
	    width: 98%;
	}
	.swiper-slide img {
	    width: auto;
	    max-width: 100%;
	    height: 100%;
	    max-height: 100%;
	}

/*.centerme{
    height: 100%;
    width: 100%;
    background-size: cover;
}*/
.centerme1{
    height: 100%;
    background-size: cover;
}
.centerme2{
    height: 100%;
    background-size: cover;
}
.centerme3{
    height: 100%;
    background-size: cover;
}
.centerme4{
    height: 100%;
    background-size: cover;
}

 /*ion-slide {
      background-color: #32db64;
    }
 
    ion-slide img {
    background-size: cover;
      height: 100% !important;
      width: 100% !important;
    }*/

@media (-webkit-min-device-pixel-ratio: 0.75),
       (min-resolution: 120dpi) {
       		.centerme{
           		background-image: url(assets/images/Dashboard_portldpi.png);
           }
           .centerme1{
           		background-image: url(assets/images/ScanQR_portldpi.png);
           }
           .centerme2{
           		background-image: url(assets/images/ChangeRewardType_portldpi.png);
           }
           .centerme3{
           		background-image: url(assets/images/Notifications_portldpi.png);
           }
           .centerme4{
           		background-image: url(assets/images/Reward_History_portldpi.png);
           }
         }

@media (-webkit-min-device-pixel-ratio: 1),
       (min-resolution: 160dpi) {
           .centerme{
           		background-image: url(assets/images/Dashboard_portldpi.png);
           }
           .centerme1{
           		background-image: url(assets/images/ScanQR_portldpi.png);
           }
           .centerme2{
           		background-image: url(assets/images/ChangeRewardType_portldpi.png);
           }
           .centerme3{
           		background-image: url(assets/images/Notifications_portldpi.png);
           }
           .centerme4{
           		background-image: url(assets/images/Reward_History_portldpi.png);
           }
        }


@media (-webkit-min-device-pixel-ratio: 1.33),
       (min-resolution: 213dpi) {
           .centerme{
           		background-image: url(assets/images/Dashboard_portmdpi.png);
           }
           .centerme1{
           		background-image: url(assets/images/ScanQR_portmdpi.png);
           }
           .centerme2{
           		background-image: url(assets/images/ChangeRewardType_portmdpi.png);
           }
           .centerme3{
           		background-image: url(assets/images/Notifications_portmdpi.png);
           }
           .centerme4{
           		background-image: url(assets/images/Reward_History_portmdpi.png);
           }
          }


@media (-webkit-min-device-pixel-ratio: 1.5),
       (min-resolution: 240dpi) {
    .centerme{
           		background-image: url(assets/images/Dashboard_porthdpi.png);
           }
           .centerme1{
           		background-image: url(assets/images/ScanQR_porthdpi.png);
           }
           .centerme2{
           		background-image: url(assets/images/ChangeRewardType_porthdpi.png);
           }
           .centerme3{
           		background-image: url(assets/images/Notifications_porthdpi.png);
           }
           .centerme4{
           		background-image: url(assets/images/Reward_History_porthdpi.png);
           }
    }


@media (-webkit-min-device-pixel-ratio: 2),
       (min-resolution: 320dpi) {
    .centerme{
           		background-image: url(assets/images/Dashboard_portxhdpi.png);
           }
           .centerme1{
           		background-image: url(assets/images/ScanQR_portxhdpi.png);
           }
           .centerme2{
           		background-image: url(assets/images/ChangeRewardType_portxhdpi.png);
           }
           .centerme3{
           		background-image: url(assets/images/Notifications_portxhdpi.png);
           }
           .centerme4{
           		background-image: url(assets/images/Reward_History_portxhdpi.png);
           }

    }

@media (-webkit-min-device-pixel-ratio: 3),
       (min-resolution: 480dpi) {
    .centerme{
           		background-image: url(assets/images/Dashboard_portxxhdpi.png);
           }
           .centerme1{
           		background-image: url(assets/images/ScanQR_portxxhdpi.png);
           }
           .centerme2{
           		background-image: url(assets/images/ChangeRewardType_portxxhdpi.png);
           }
           .centerme3{
           		background-image: url(assets/images/Notifications_portxxhdpi.png);
           }
           .centerme4{
           		background-image: url(assets/images/Reward_History_portxxhdpi.png);
           }

    }

@media (-webkit-min-device-pixel-ratio: 4),
       (min-resolution: 640dpi) {
    .centerme{
           		background-image: url(assets/images/Dashboard_portxxxhdpi.png);
           }
         .centerme1{
          		background-image: url(assets/images/ScanQR_portxxxhdpi.png);
         }
         .centerme2{
           		background-image: url(assets/images/ChangeRewardType_portxxxhdpi.png);
           }
           .centerme3{
           		background-image: url(assets/images/Notifications_portxxxhdpi.png);
           }
           .centerme4{
           		background-image: url(assets/images/Reward_History_portxxxhdpi.png);
           }

        }
}

