
<ion-content>
	<ion-slides pager="true">
		<ion-slide>
	    <!-- <video class="centerme" controls>
	    	
	    	<source src="https://path/to/video/stream" type="video/mp4">
		</video> -->
		<video controls class="centerme"
    	src="assets/video/finolex.mp4"
    	width="620">	  
	</video>
	  </ion-slide>

		<ion-slide class="centerme" controls>
			<img src="assets/images/Dashboard_portxxxhdpi.png">
		</ion-slide>
		<ion-slide class="centerme1" controls>
			<img src="assets/images/ScanQR_portxxxhdpi.png">
		</ion-slide>
		<ion-slide class="centerme2" controls>
			<img src="assets/images/ChangeRewardType_portxxxhdpi.png">
		</ion-slide>
		<ion-slide class="centerme3" controls>
			<img src="assets/images/Notifications_portxxxhdpi.png">
		</ion-slide>
		<ion-slide class="centerme4" controls>

			<img src="assets/images/Reward_History_portxxxhdpi.png">

			<div class="slideBut">
			<button ion-button style="width: 30%;height: 28px;font-size: 13px;" (click)="loadDashboard()">Submit</button>
		</div>
		</ion-slide>
	</ion-slides>
</ion-content>
