
<ion-header>

  <ion-navbar>
  	<ion-item style="background: transparent;">
	    <button ion-button menuToggle>
	      <ion-icon name="menu"></ion-icon>
	    </button>
	    <ion-title style="text-align: center; margin-top: -22px;">{{'Contact us' | translate}}</ion-title>
	</ion-item>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-grid>
	<ion-row class="header_key">
		{{'Toll Free Number:' | translate}} 
	</ion-row>
	<ion-row class="header_value">
		1800-300-11999
	</ion-row>
	<!-- <ion-row class="header_key">
		Mail Id : 
	</ion-row>
	<ion-row class= "header_value">
		sundar.pichai@gmail.com
	</ion-row> -->
	<ion-row class="header_key">
		{{'Head Office :' | translate}}
	</ion-row>
	<ion-row class="header_value">
		{{'Finolex Cables Ltd' | translate}},<br>
		26-27,{{'Mumbai-pune Road' | translate}},<br>
		{{'Tel' | translate}}.+91-20-27475963,<br>

	</ion-row>

</ion-grid>
</ion-content>
