<ion-header>
	<ion-navbar>
	    <button icon-only ion-button menuToggle>
	      <ion-icon name="menu"></ion-icon>
	    </button>
	    <ion-title style="font-size: 13px;">{{'Products Catalogue' | translate}}</ion-title>
  	</ion-navbar>
</ion-header>

<ion-content padding>
	
    <ion-grid>
		<ion-row >
		
			<ion-item  col-12  *ngFor="let product of data;let id=index">
				<!-- <ion-card (click)="productClick(id)"> -->
					<h6 style="font-size: 13px;font-weight: bold;" (click)="openBrowser(product)">{{product.name}}</h6>

							<!-- <img src={{product.image}} style="height: 100px;"/> -->
							<!-- <img src="assets/images/Login_bg.png" style="height: 100px;" />
									
				   <ion-row class="cardfooter" style="background: grey;">
				      <ion-col style="max-width: 100%;">
				      <p style="padding-left: 2px;padding-right: 2px">{{product.name}}</p>
					      </ion-col>
		 		  </ion-row> -->				
			<!-- </ion-card> -->
		</ion-item>
	</ion-row>

	</ion-grid>
   
</ion-content>

