page-products {

.card-content-md {
    font-size: 1.4rem;
    line-height: 1.5;
    background-color: white;
}
.card-md p {
    margin: 0 0 2px;
    font-size: 18px;
    font-weight: bold ! important;
    color: white;
    font-size: 14px ! important; 
    text-align: center;
     background-color: grey;
}
ion-card img {
    display: block;
    width: 100%;
    text-align: center;
}

}